* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


/* header */
.header {
    background-color: #454545;
}

nav {
    padding: 10px 10px;
    max-width: 1000px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


ul li a {
    color: rgb(228, 222, 222);
    font-size: 13px;
    font-weight: 100;
    text-decoration: none;
}

/* banner-sec */
.banner-sec p {
    font-size: 14px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 12px 0;
    color: white;
    background-color: #1D1D1F;

}

.banner-sec a {
    color: #0071E3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
}

/* second section  */
.sec-two {
    display: flex;
}

/* about section */
.about{
    max-width: 1000px;
    margin: 0 auto;
}
.about p{
    margin: 15px 0;
    color: #6C6C6D;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px ;
    margin: 15px 0;    
}

/* links section */
.links{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


}
.links ul h5{
    font-size:15px;
    margin-top: 14px;
    color: #434344;
    
}
.links ul li {
    list-style-type: none;
    margin: 5px 0;
}
.links ul li a{
    color: #757576;
    font-weight:500;
    font-size: 13px;
} 
.sec-two  .secImg{
    padding: 10px 10px;
    
}

/* footer */
.footer{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footer .content  ul{
   display: flex;
}
.footer .content  ul li{
   list-style-type: none;
   padding: 20px 10px;
  
}
.footer .copyright{
    color: #6C6C6D;
}
.footer .content  ul li a{
    color:#444445  ;
}
.footer .india{
    color:#444445  ;
}
